In [52]:
import pandas as pd
import re

# url = 'http://data.dft.gov.uk/road-accidents-safety-data/dftRoadSafetyData_Casualties_2016.zip'
# nu = re.findall("[_].+[A-Za-z].+\d",url)
# st1 = ''.join(nu)
# print(st1) 

url = ["http://data.dft.gov.uk/road-accidents-safety-data/dftRoadSafetyData_Vehicles_2016.zip","http://data.dft.gov.uk/road-accidents-safety-data/dftRoadSafety_Accidents_2016.zip",
       "http://data.dft.gov.uk/road-accidents-safety-data/RoadSafetyData_Vehicles_2015.zip","http://data.dft.gov.uk/road-accidents-safety-data/RoadSafetyData_Accidents_2015.zip"]

####Figure out how to download the 05-14 and save it in your memory or get the fucking zip thing to work
vehicles_2016 = pd.read_csv(url[0], compression='zip')
accidents_2016 = pd.read_csv(url[1], compression='zip')
vehicles_2015 = pd.read_csv(url[2], compression='zip')
accidents_2015 = pd.read_csv(url[3], compression='zip')
vehicles_05_14 = pd.read_csv("/Users/jarand/Documents/Stud.Polit/Social Data Science/EXAM/Vehicles0514.csv")
accidents_05_14 = pd.read_csv("/Users/jarand/Documents/Stud.Polit/Social Data Science/EXAM/Accidents0514.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [53]:
# Filtering the columns we need and dropping the rest

vehicles_2016 = vehicles_2016[['Accident_Index','Vehicle_Reference','Sex_of_Driver','Age_of_Driver','Age_of_Vehicle','Vehicle_Type']]
accidents_2016 = accidents_2016[['Accident_Index','Day_of_Week','Time','1st_Road_Class','Speed_limit','Light_Conditions','Weather_Conditions','Road_Surface_Conditions','Number_of_Casualties', 'Accident_Severity']]

vehicles_2015 = vehicles_2015[['Accident_Index','Vehicle_Reference','Sex_of_Driver','Age_of_Driver','Age_of_Vehicle','Vehicle_Type']]
accidents_2015 = accidents_2015[['Accident_Index','Day_of_Week','Time','1st_Road_Class','Speed_limit','Light_Conditions','Weather_Conditions','Road_Surface_Conditions','Number_of_Casualties', 'Accident_Severity']]

vehicles_05_14 = vehicles_05_14[['Accident_Index','Vehicle_Reference','Sex_of_Driver','Age_of_Driver','Age_of_Vehicle','Vehicle_Type']]
accidents_05_14 = accidents_05_14[['Accident_Index','Day_of_Week','Time','1st_Road_Class','Speed_limit','Light_Conditions','Weather_Conditions','Road_Surface_Conditions','Number_of_Casualties', 'Accident_Severity']]

In [54]:
# Removing Sex_of_Driver = -1 & 3 which mean data missing and Not known

vehicles_2016 = vehicles_2016[(vehicles_2016['Sex_of_Driver']==1) | (vehicles_2016['Sex_of_Driver']==2)]

vehicles_2015 = vehicles_2015[(vehicles_2015['Sex_of_Driver']==1) | (vehicles_2015['Sex_of_Driver']==2)]

vehicles_05_14 = vehicles_05_14[(vehicles_05_14['Sex_of_Driver']==1) | (vehicles_05_14['Sex_of_Driver']==2)]

In [55]:
# Removing missing data values from Age_of_Driver

vehicles_2016 = vehicles_2016[(vehicles_2016['Age_of_Driver']!=-1)]

vehicles_2015 = vehicles_2015[(vehicles_2015['Age_of_Driver']!=-1)]

vehicles_05_14 = vehicles_05_14[(vehicles_05_14['Age_of_Driver']!=-1)]

In [56]:
#Removing missing values from the Age_of_Vehicle

vehicles_2016 = vehicles_2016[(vehicles_2016['Age_of_Vehicle']!=-1)]

vehicles_2015 = vehicles_2015[(vehicles_2015['Age_of_Vehicle']!=-1)]

vehicles_05_14 = vehicles_05_14[(vehicles_05_14['Age_of_Vehicle']!=-1)]

In [57]:
#Filtering the Vehicle_Type down to Cars and Bikes 

vehicles_2016 = vehicles_2016[(vehicles_2016['Vehicle_Type']==2) | (vehicles_2016['Vehicle_Type']==3) | (vehicles_2016['Vehicle_Type']==4) | (vehicles_2016['Vehicle_Type']==5) | (vehicles_2016['Vehicle_Type']==8) | (vehicles_2016['Vehicle_Type']==9) | (vehicles_2016['Vehicle_Type']==22) | (vehicles_2016['Vehicle_Type']==23) | (vehicles_2016['Vehicle_Type']==97)]

vehicles_2015 = vehicles_2015[(vehicles_2015['Vehicle_Type']==2) | (vehicles_2015['Vehicle_Type']==3) | (vehicles_2015['Vehicle_Type']==4) | (vehicles_2015['Vehicle_Type']==5) | (vehicles_2015['Vehicle_Type']==8) | (vehicles_2015['Vehicle_Type']==9) | (vehicles_2015['Vehicle_Type']==22) | (vehicles_2015['Vehicle_Type']==23) | (vehicles_2015['Vehicle_Type']==97)]

vehicles_05_14 = vehicles_05_14[(vehicles_05_14['Vehicle_Type']==2) | (vehicles_05_14['Vehicle_Type']==3) | (vehicles_05_14['Vehicle_Type']==4) | (vehicles_05_14['Vehicle_Type']==5) | (vehicles_05_14['Vehicle_Type']==8) | (vehicles_05_14['Vehicle_Type']==9) | (vehicles_05_14['Vehicle_Type']==22) | (vehicles_05_14['Vehicle_Type']==23) | (vehicles_05_14['Vehicle_Type']==97)]

In [58]:
# Removing Roads which are not classified

accidents_2016 = accidents_2016[(accidents_2016['1st_Road_Class']!=6)]

accidents_2015 = accidents_2015[(accidents_2015['1st_Road_Class']!=6)]

accidents_05_14 = accidents_05_14[(accidents_05_14['1st_Road_Class']!=6)]

In [59]:
# Filtering Light Conditions (Daylight , Dark with lights lit, Dark with no light)

accidents_2016 = accidents_2016[(accidents_2016['Light_Conditions']==1) | (accidents_2016['Light_Conditions']==4) | (accidents_2016['Light_Conditions']==6)]

accidents_2015 = accidents_2015[(accidents_2015['Light_Conditions']==1) | (accidents_2015['Light_Conditions']==4) | (accidents_2015['Light_Conditions']==6)]

accidents_05_14 = accidents_05_14[(accidents_05_14['Light_Conditions']==1) | (accidents_05_14['Light_Conditions']==4) | (accidents_05_14['Light_Conditions']==6)]

In [60]:
# Sun and Rain

accidents_2016 = accidents_2016[(accidents_2016['Weather_Conditions']==1) | (accidents_2016['Weather_Conditions']==2)]

accidents_2015 = accidents_2015[(accidents_2015['Weather_Conditions']==1) | (accidents_2015['Weather_Conditions']==2)]

accidents_05_14 = accidents_05_14[(accidents_05_14['Weather_Conditions']==1) | (accidents_05_14['Weather_Conditions']==2)]

In [61]:
# Dry and Wet roads

accidents_2016 = accidents_2016[(accidents_2016['Road_Surface_Conditions']==1) | (accidents_2016['Road_Surface_Conditions']==2)]

accidents_2015 = accidents_2015[(accidents_2015['Road_Surface_Conditions']==1) | (accidents_2015['Road_Surface_Conditions']==2)]

accidents_05_14 = accidents_05_14[(accidents_05_14['Road_Surface_Conditions']==1) | (accidents_05_14['Road_Surface_Conditions']==2)]

In [62]:
print(accidents_05_14.shape)
print(accidents_2016.shape)
print(accidents_2015.shape)

(1042177, 10)
(83619, 10)
(88542, 10)

In [63]:
# Turning Accident_Severity into binary i.e 0 for Non-Fatal and 1 for Fatal & Serious Accidents

accidents_2016.Accident_Severity = accidents_2016.Accident_Severity.replace(2,1)
accidents_2016.Accident_Severity = accidents_2016.Accident_Severity.replace(3,0)

accidents_2015.Accident_Severity = accidents_2015.Accident_Severity.replace(2,1)
accidents_2015.Accident_Severity = accidents_2015.Accident_Severity.replace(3,0)

accidents_05_14.Accident_Severity = accidents_05_14.Accident_Severity.replace(2,1)
accidents_05_14.Accident_Severity = accidents_05_14.Accident_Severity.replace(3,0)

In [64]:
accidents_2015.columns

Index(['Accident_Index', 'Day_of_Week', 'Time', '1st_Road_Class',
       'Speed_limit', 'Light_Conditions', 'Weather_Conditions',
       'Road_Surface_Conditions', 'Number_of_Casualties', 'Accident_Severity'],
      dtype='object')

In [ ]:
# c.groupby('Road_Surface_Conditions').count() /////// Important stuff

In [65]:
# joined = pd.concat(l,join_axes=[a.Accident_index]) #Works with axis=1, but has two columns of accident_index

_16 = pd.merge(vehicles_2016,accidents_2016, on='Accident_Index')
print(_16.shape)
_15 = pd.merge(vehicles_2015,accidents_2015, on='Accident_Index')

_05_14 = pd.merge(vehicles_05_14,accidents_05_14, on='Accident_Index')

(98202, 15)

In [66]:
# Merge the three files: 
joined2 = pd.concat([_16, _15], ignore_index=False)
joined = pd.concat([joined2, _05_14], ignore_index=False)
#joined.head(5000)

,Accident_Index,Vehicle_Reference,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle,Vehicle_Type,Day_of_Week,Time,1st_Road_Class,Speed_limit,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Number_of_Casualties,Accident_Severity
0,2016010000006,1,2,36,1,9,3,00:37,3,30.0,4,1,1,1,0
1,2016010000008,1,1,24,5,9,3,01:25,3,30.0,4,1,1,1,0
2,2016010000018,1,1,20,11,9,3,07:53,3,40.0,1,1,1,1,0
3,2016010000019,1,2,30,10,9,3,09:29,3,30.0,1,1,1,1,0
4,2016010000019,2,1,27,5,9,3,09:29,3,30.0,1,1,1,1,0
5,2016010000020,1,1,33,2,8,3,08:53,5,30.0,1,1,1,1,0
6,2016010000021,2,2,30,15,9,3,10:05,3,30.0,1,1,1,1,0
7,2016010000025,3,1,36,1,3,3,09:50,3,30.0,1,1,1,1,0
8,2016010000039,2,1,76,17,9,3,08:37,5,30.0,1,1,1,1,0
9,2016010000048,1,1,59,5,9,3,07:10,3,30.0,1,1,1,1,1
10,2016010000050,1,2,38,10,9,3,07:28,3,30.0,1,2,1,1,0
11,2016010000050,2,1,39,11,9,3,07:28,3,30.0,1,2,1,1,0
12,2016010000050,3,1,38,2,9,3,07:28,3,30.0,1,2,1,1,0
13,2016010000050,4,2,52,13,9,3,07:28,3,30.0,1,2,1,1,0
14,2016010000051,1,1,79,15,9,3,13:03,3,30.0,1,1,1,3,0
15,2016010000051,2,1,37,14,9,3,13:03,3,30.0,1,1,1,3,0
16,2016010000052,2,2,47,6,9,3,10:13,3,30.0,1,1,1,1,0
17,2016010000058,2,1,61,2,9,3,13:55,3,30.0,1,1,1,1,0
18,2016010000064,1,1,52,13,9,3,14:58,3,30.0,1,1,1,1,0
19,2016010000064,2,1,38,16,9,3,14:58,3,30.0,1,1,1,1,0
20,2016010000066,1,1,58,11,9,3,18:10,4,30.0,4,1,1,1,0
21,2016010000067,1,2,29,3,9,3,16:15,3,30.0,1,2,2,1,0
22,2016010000067,3,2,68,7,9,3,16:15,3,30.0,1,2,2,1,0
23,2016010000073,1,1,48,2,8,3,19:06,3,30.0,4,1,1,1,0
24,2016010000079,1,1,24,6,8,3,20:00,5,20.0,4,1,1,1,0
25,2016010000079,2,2,28,12,2,3,20:00,5,20.0,4,1,1,1,0
26,2016010000081,1,1,32,1,9,3,19:00,3,30.0,4,1,1,2,0
27,2016010000081,2,2,38,3,9,3,19:00,3,30.0,4,1,1,2,0
28,2016010000082,1,1,29,4,9,3,19:40,3,70.0,4,1,1,2,0
29,2016010000082,2,1,83,17,9,3,19:40,3,70.0,4,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2016010026115,3,1,28,5,8,4,17:22,3,30.0,1,1,1,4,0
4971,2016010026123,1,1,73,9,9,2,11:14,3,30.0,1,1,1,1,0
4972,2016010026132,1,1,41,5,8,4,03:00,4,30.0,4,1,1,1,0
4973,2016010026132,2,1,23,2,9,4,03:00,4,30.0,4,1,1,1,0
4974,2016010026141,1,1,46,1,3,3,09:02,5,30.0,1,1,1,1,0
4975,2016010026151,1,1,47,4,9,2,08:55,5,30.0,1,1,1,1,0
4976,2016010026152,1,1,73,14,9,5,22:20,3,30.0,1,1,1,1,0
4977,2016010026152,2,1,30,12,3,5,22:20,3,30.0,1,1,1,1,0
4978,2016010026153,1,2,35,3,9,5,13:35,5,30.0,1,1,1,1,0
4979,2016010026174,1,1,28,3,9,2,16:40,3,30.0,1,1,1,1,0
4980,2016010026175,1,1,42,11,9,4,10:30,5,30.0,1,1,1,1,0
4981,2016010026177,1,1,54,15,9,5,11:34,5,20.0,1,1,2,2,0
4982,2016010026177,2,1,47,11,9,5,11:34,5,20.0,1,1,2,2,0
4983,2016010026188,1,1,42,12,8,5,16:12,3,30.0,4,1,1,2,0
4984,2016010026197,1,1,51,13,9,6,12:40,3,50.0,1,1,1,1,0
4985,2016010026205,1,1,20,4,3,5,14:51,4,30.0,1,1,1,1,0
4986,2016010026205,2,1,37,12,9,5,14:51,4,30.0,1,1,1,1,0
4987,2016010026226,1,1,40,14,9,7,22:40,3,30.0,4,1,1,1,1
4988,2016010026235,1,1,24,8,9,7,18:22,4,30.0,4,1,1,1,0
4989,2016010026235,2,1,50,4,8,7,18:22,4,30.0,4,1,1,1,0
4990,2016010026242,1,1,52,3,8,1,11:35,3,40.0,1,1,1,1,0
4991,2016010026260,1,1,31,6,9,3,14:15,3,50.0,1,1,1,1,0
4992,2016010026360,1,1,48,1,9,7,12:50,3,50.0,1,1,1,6,0
4993,2016010026360,3,1,58,7,9,7,12:50,3,50.0,1,1,1,6,0
4994,2016010026362,1,2,37,4,9,5,21:40,3,30.0,4,1,1,1,1
4995,2016010026362,2,1,19,6,2,5,21:40,3,30.0,4,1,1,1,1
4996,2016010026364,1,2,36,12,3,7,14:30,4,30.0,1,1,1,1,0
4997,2016010026365,1,2,25,7,9,2,08:27,4,30.0,1,1,1,1,0
4998,2016010026365,2,1,68,9,9,2,08:27,4,30.0,1,1,1,1,0
4999,2016010026366,1,1,52,5,9,5,08:00,3,40.0,1,2,2,1,0

In [ ]:
# import matplotlib.pyplot as plt
# new = joined[['Sex_of_Driver']]
# new_1 = pd.value_counts(new['Sex_of_Driver'])
# # new_1.plot(kind='bar') Simple pl


# fig, ax = plt.subplots()
# ax.plot(new_1)
# ax.legend(['Sex of the Driver'],loc='upper left',frameon=False)
# ax.set_title('Number of Male and Females involved in Road Accidents')
# ax.set_ylabel('Number of People')
# fig.tight_layout()

In [ ]:
# new = new.ix[new['Sex_of_Driver']!=1] Future use